[defaults]
private_role_vars = True
retry_files_enabled = False
inventory = ./inventory/headnode

# change the default callback, you can only have one 'stdout' type  enabled at a time.
#stdout_callback = skippy
stdout_callback = yaml

## Ansible ships with some plugins that require whitelisting,
## this is done to avoid running all of a type by default.
## These setting lists those that you want enabled for your system.
## Custom plugins should not need this unless plugin author specifies it.

# enable callback plugins, they can output to stdout but cannot be 'stdout' type.
callbacks_enabled = timer, debug, profile_roles, profile_tasks, minimal

# Force color
force_color = true

[ssh_connection]
control_path = ~/.ssh/ansible-%%r@%%h:%%p
