<%-
  partitions = OodAppkit.clusters[:{{ cluster_name }}].custom_config[:partitions]
-%>
---
title: "HPC Desktop"
cluster: {{ cluster_name }}
submit: "submit/submit.yml.erb"
attributes:
  desktop: "xfce"
  bc_num_slots:
    label: Number of CPU
    value: 1
    min: 1
    max: 24
    step: 1

  bc_num_mems:
    widget: "number_field"
    label: Memory per CPU (GB)
    value: 4
    min: 1
    max: 128
    step: 1

  bc_num_gpus:
    label: Number of GPUs
    value: 1
    min: 0
    max: 4
    step: 1

  bc_partition:
    widget: select
    label: Partition
    options:
    <%- partitions.each do |p| -%>
      - [ "<%= p %>", "<%= p %>" ]
    <%- end -%>

form:
  - desktop
  - bc_num_hours
  - bc_partition
  - bc_num_gpus
  - bc_num_slots
  - bc_num_mems
  - bc_email_on_started
