WSGIDaemonProcess "{{ account_app }}" user={{ account_app_user }} group={{ account_app_user }} threads=5
WSGIProcessGroup "{{ account_app }}"
WSGIScriptAlias /{{ account_app }} "{{ account_app_path}}/{{ account_app }}.wsgi"
<Location /{{ account_app }}>
        AuthType Basic
        AuthName "Private"
        AuthUserFile "/opt/rh/httpd24/root/etc/httpd/.htpasswd"
        RequestHeader unset Authorization
        Require valid-user
</Location>
<Directory {{ account_app_path }}>
        WSGIProcessGroup {{ account_app }}
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
</Directory>
