#UAB Cheaha OOD config

OodFilesApp.candidate_favorite_paths.tap do |paths|
  # add project space directories
  projects = User.new.groups.map(&:name).grep(/^P./)
  paths.concat projects.map { |p| FavoritePath.new("{{ project_path }}/#{p}")  }

  # add scratch space directories
  paths << FavoritePath.new("{{ scratch_path }}/#{User.new.name}")

  # add user data directories
  paths << FavoritePath.new("{{ user_data_path }}/#{User.new.name}", title: "Data")

  # add local scratch directory
  paths << FavoritePath.new("{{ local_scratch_path }}/#{User.new.name}")

end
